html { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.background, body {
    background: none;
}
.jumbotron{
    text-align: center;
    background: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
h1{
    font-size: 200px;
    font-family: 'Oleo Script Swash Caps', cursive;
    padding-bottom: 0;
    margin-bottom: 0;
}

button{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 40%;
}

#welcomeContent{
    text-align: center;
}
#searchField{
    text-align: center;
}

img{
    width: 300px;
    height: 300px;
}

.resultCard{
    background-color: #CBCED3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 5px 10px #95A766;
}

.searchResults{
    display: flex;
    justify-content: end;
}
.resultCard{
    margin: 50px;
}
.recipeResults{
    position: relative;
    margin-left: -140px;
}
.restaurantResults{
    position: relative;
    margin-left: 50px;
}
