html { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.background, body {
    background: none;
}
.jumbotron{
    text-align: center;
    background: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
h1{
    font-size: 200px;
    font-family: 'Oleo Script Swash Caps', cursive;
    padding-bottom: 0;
    margin-bottom: 0;
}
.row1{
    text-align: center;
}
.row2{
    display: flex;
    justify-content: center;
}
.content{

    padding-top:0;
    padding-bottom: 25px;
}
.card{
    margin-bottom: 5px;
}
#searchResults{
    column-count: 2;
    column-fill: balance;
}
button{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 40%;
}
img{
    width: 200px;
}


